<!DOCTYPE html>
<html>
<head>
	<title>EVE Online API How-To Guide</title>
</head>
<body>
	<style>
		body{
			padding: 25px;
			font-family: 'Arial';
		}
		
		ul.NavPanel{
			width: 10%;
			position: fixed;
			left: 5%;
		}
		
		li a:hover{
			background-color: gray;
		}
		
		div.textText{
			position: fixed;
			width: 80%;
			right: 0;
			
		}
		
		i.funcNames{
			color: red;
			background-color:  silver;
		}
		
		xmp.codez{
			width: 80%;
			background: silver;
		}
	</style>
	
	<div class = "links">
		<ul class = "NavPanel" style = "width:10%; float:left;">
			<li class = "NavPanel"><a href = "/">Home</li><a>
			<li class = "NavPanel"><a href = "/step-one">Step 1</li></a>
			<li class = "NavPanel"><a href = "/step-two">Step 2</li></a>
			<li class = "NavPanel"><a href = "/step-three">Step 3</li></a>
			<li class = "NavPanel"><a href = "/step-four">Step 4</li></a>
		</ul>
	</div>
		
	<div class = "textText">
	{{{body}}}
	</div>
	
	
</body>
</html>