<div id="textText">

<h2> Step 4</h2> 

<p class = "text">

That covers the basics on how to use the eveonlinejs library and you the should be able to use the other functions with ease on the <a href="http://wiki.eve-id.net/APIv2_Page_Index">EVE Dev Wiki
</a>.  Just make sure you change the parameters in the .fetch function depending on what you want to access.  The syntax on XML is "/char/AccountBalance", when you make a function call it changes to <i class = "funcNames">'char:AccountBalance'</i>. Just make sure to follow that syntax depending on which function you want to access.

</p>

<p class = "text">
The reason I chose to use a single character key was because I ran into too many issues with full account character keys and trying to access the information from specific characters.  When getting simple stuff like character names it was pretty easy but trying to pull the skill queue end time on a full account key and multiple characters training was really difficult because of the way the result is parsed.  Similarly, tracking your kill log is equally as difficult in JSON format because of all the different options it gives you.  Some results also return an integer value in what should be a string as well, for example acessing the star map will return a system ID number rather than a string for the system name.  So far as I could tell, decoding the system ID in the star map isn't available in this library.

The eveonlinejs library is by no means complete, and not many people contribute do it.  PHP is the prefered format and most EVE online developers seem to be using PHP over other formats.  If I were to re-write this guide I'd learn how to use one of the various PHP libraries available. 

</p>

<p class = "text">

They EVE API does not update in real time.  Delay on updating can be anywhere from 5 to 30 minutes depending on what you're trying to access.  The refresh time can be found on the EVE Dev wiki and should be kept in mind when trying to decide what functions to use.  If you are combining a lot of functions together, it would be helpful to make sure you only request as often as the longest refresh time in the group so as to avoid the server from locking you out. Once you make a request the data will be stored in a cache in the eveonlinejs library where it will be accessed in between the timers. You might encounter some errors when trying to access the key, a list of those error codes can be found <a href = "http://wiki.eve-id.net/APIv2_Eve_ErrorList_XML"> here</a>

</p>

<p>
Here are a few additional resources for you to consider in development.  Most of the information I have has come from them. 

<ul>
	<li><a href = "http://wiki.eve-id.net/Main_Page">EVE Dev Wiki Main Page</a></li>
	<li><a href="http://wiki.eve-id.net/APIv2_Page_Index">EVE API Page Index</a></li>
	<li><a href = "https://forums.eveonline.com/default.aspx?g=posts&t=123737">EVE Online Technology Forums</a></li>

</ul>

If you have any questions or suggestions please feel free to send me an email at <a href = "mailto:hybridsquirrel@gmail.com">hybridsquirrel@gmail.com</a>.  I check my gaming related e-mails there.  Please remember to fly safe through New Eden!
</p>
</div>