<div id="textText">

<h2> Step 4</h2> 

<p class = "text">

That pretty much covers the basics on how to use the eveonlinejs library and you the should be able to use the other functions with ease on the <a href="http://wiki.eve-id.net/APIv2_Page_Index">EVE Dev Wiki
</a>.  Just make sure you change the parameters in the .fetch function depending on what you want to access.  The syntax on XML is "/char/AccountBalance", when you make a function call it changes to <i class = "funcNames">'char:AccountBalance'</i>.  
</p>

<p class = "text">
Short and sweet.  Gives you more time for development, and while this is fancy information to have, i'm afraid it is all useless because there are already lots of third applications that use the EVE API.  In particular I recommend using EVE Mon, or even just using the default XML format and import data into Google docs.  Another word of advice, is don't take the game too seriously.  You'll end up like me and sink over 5,000 hours into it in the past 3 years.  

7o and fly safe!
</p>


</div>