<div id="textText">

<h2>Starting Off</h2> 

//insert an image here?

<p class = "text">
 EVE Online is a Massive Multiplayer Online Role Playing Game (MMORPG) based in space, developed by CCP Games in Reykjavik, Iceland. It takes place in a distant universe known as New Eden and is filled with science fiction and stunning visuals and most of all, gratuitous spaceship battles.  It has a relatively small but very loyal fan base and is very friendly with third party development. Each account is accessible through an API key that allows you to access information such as character information, wallet balance, skill training queues, and industry job orders.  The default API key that EVE provides is an XML key, but there are 3rd party libraries that make it available on different languages.  We are going to be looking at the eveonlinejs library, that allows the key to be accessed using JavaScript and node.js. 
</p>

<p class = "text">
In order for this tutorial to work, you need to have an active EVE online account.  If you would like, you can start a 14 day trial <a href = "https://secure.eveonline.com/trial/?invc=f9fb733b-e1f4-4dd7-8705-408c2b2c6c09&action=buddy">here</a>.  EVE does have a really high skill curve though, and new players often get frustrated with the game and give up, but if you start a trial and want to continue, i'd be happy to throw you some free ships and fly with you to get started.  Once you have a working account, go ahead and visit the <a href="https://community.eveonline.com/support/api-key/">API key management website</a> and create a key.  It is easierto create a "full" access key, so select "all" in every category and make sure no expiry is selected.

<br><br>
<a href = "/images/apicat.jpg"><img src = "/images/apicat.jpg" height = 476px width = 368px /><a>
 <br>
 
 <p>
 You can limit the amount of access you want, but there is no security threat to personal information by making a full access key. Make sure to name the key something you'll remember. Once you have all the categories you want selected, hit submit, and you'll see the key in your list on the previous page.
</p>


<p class = "text">
When you arrive back on the key management page, you're going to want to get the "Key ID" and "Verification Code" numbers. These are essential for accessing they key in the following steps. 
<br><br>
<a href = "/images/dbarc.jpg"><img src = "/images/dbarc.jpg" /></a>
<br>
</p>

</div>