<div id="textText">

<h2> Step 1</h2> 
<p class = "text">
Well, this is really step 2, since step one was to set up an account and grab an API key.  What you want to do now is get the eveonlinejs library.  It is listed on <a href="https://github.com/MichaelErmer/eveonlinejs">GitHub here</a>, alternatively you can simply run:

<xmp class = "codez">
      npm install eveonlinejs
</xmp>

and it will install the package for you. Once you have the library installed you can start writing some functions to access the API. A full list of accessable functions can be found on the <a href ="http://wiki.eve-id.net/APIv2_Page_Index">EVE Dev Wiki</a>.  Keep in mind these are for XML requests, and i'll cover how we will access them soon.  This is just for your reference so you can see what is accessable.
</p>

</div>