<div id="textText">

<h2> Step 3</h2> 


<p class = "text">
This guide is only going to cover very basic calls to the API key.  The first we're going to explore is getting character data.  Since we are using character specific API keys there is no need to pass the character ID as a parameter, but i'll show you how to access it anyway.

<xmp class = "codez">
	eveonlinejs.fetch('account:Characters', function(err, result){
		if(err) throw err
		
		console.log(result)
	});

</xmp>

This will log the full character list to your console and it should look like <a href="http://i.imgur.com/VhLTDri.jpg">this</a>.  The Character ID number above is what you're going to use if you have a full account API key and multiple characters.  We won't worry about that now.
</p>

<p class = "text">
As you can see, there is a lot of information there.  But today we're going to look at character name and coroporation name.  So to access that, we will add a variable and set it to the "result" and use that to access different parts of the data.  Result is the default return name for this function.  To setup and retrieve character name, and corporation name:

<p>
hi
{{#each characters}}
    {{@key}}: {{this}}
{{/each}}
</p>

<xmp class = "codez">
	eveonlinejs.fetch('account:Characters', function(err, result){
		if(err) throw err
		
		var charInfo = result;
		console.log(charInfo.name);                       //this prints the character name value
		console.log(charInfo.corporationName)      //this prints the corporation name value
	});
</xmp>

And you would get this output in the <a href = "http://i.imgur.com/1ZmXkCu.jpg">console</a>.

That is really all there is to it.  Now if you had a full account API you would have to use the character ID printed in the first step here and pass it as a parameter to the fetch() function to get your desired character
<xmp class = "codez">
	eveonlinejs.fetch('account:Characters', {characterID: 123456}, function(err, result){
		
		//do your code here.
	
	});
</xmp>

But again, I recommend starting with only one character at a time.  There is so much functionality built into this API it would be hard to cover in this guide.  I recommend 
</p>
</div>